*{
    font-family: Roboto, sans-serif;
    color: aliceblue;
}

.container{
    padding: 20px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 50px;
}

.library-form{
    display: flex;
    flex-direction: column;
}

input,button{
    color: rgb(20, 20, 20);
}

fieldset{
    width: 300px;
}

.book-details-header{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.book-details{
    display: flex;
    flex-direction: column;
}


.buttons{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

button{
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.15s;
}

button:hover{
    opacity: 0.7;
}

button:active{
    opacity: 0.3;
}


/* BOOK LIST TABLE */
.table{

}

.table-header{
    border: solid 1px aliceblue;
}


/* MISCELLANEOUS */
legend, span{
    letter-spacing: 0.5px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

