*{
    font-family: Roboto, sans-serif;
    color: aliceblue;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.library-form{
    display: flex;
    flex-direction: column;
}

input,button{
    color: rgb(20, 20, 20);
}

.fieldset{
    width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.book-details-header{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.book-details{
    display: flex;
    flex-direction: column;
}

